/* costom-block */
.custom-block  
  padding           0 .4rem 0 .4rem
  border-left-width .5rem
  border-left-style solid
  margin            .5rem 0

.blok
  background-color #eee
  border-color     black
  
.yashil
  background-color #f3f5f7
  border-color     #42b983
  color 		   #42b983

.sariq
  background-color rgba(255,229,100,.4)
  border-color 	   #e7c000
  color 		   #6b5900
  
.qizil
  background-color #ffe6e6
  border-color     #c00
  color            #4d0000

.detal
  background-color #eee
  
  display       block
  position      relative
  border-radius 2px
  margin        .5em 0
  padding       .5em
  
body
  background #ededed