/* My Block */
#MyPost
  background-color white
  box-shadow:
	0 0.46875rem 2.1875rem  rgba(90,97,105,.1), 
	0 0.9375rem  1.40625rem rgba(90,97,105,.1), 
	0 0.25rem    0.53125rem rgba(90,97,105,.12), 
    0 0.125rem   0.1875rem  rgba(90,97,105,.1);
  transition box-shadow 1s   
  cursor pointer


#MyPost:hover
  box-shadow:
    0 0.46875rem 2.1875rem  rgba(3, 168, 124,.5), 
    0 0.9375rem  1.40625rem rgba(3, 168, 124,.3), 
    0 0.25rem    0.53125rem rgba(3, 168, 124,.3), 
    0 0.125rem   0.1875rem  rgba(3, 168, 124,.3);


#MyPost:hover a
  color $accentColor
  //transition: color 1s

#MyPostContent
  background-color white
  box-shadow:
	0 0.46875rem 2.1875rem  rgba(90,97,105,.1), 
	0 0.9375rem  1.40625rem rgba(90,97,105,.1), 
	0 0.25rem    0.53125rem rgba(90,97,105,.12), 
    0 0.125rem   0.1875rem  rgba(90,97,105,.1);
  background-color white


#MyPostContent table
  border-spacing 0
  border-collapse collapse
  border 1px solid #c6cbd1
  padding 6px 13px
  margin 7px
  
#MyPostContent table tr
  background-color $bgColor
  
#MyPostContent thead
  display table-header-group
  vertical-align middle
  border-color inherit
  
#MyPostContent table thead tr th
  text-align center
	
#MyPostContent tr:nth-child(2n),
#MyPostContent table thead tr
  background-color #ebf1f2

#MyPostContent table th,
#MyPostContent table td
  padding 6px 13px
  border 1px solid #c6cbd1

/*
tr { // user agent
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}

tr {
  background-color: var(--color-bg-primary);
  border-top: 1px solid var(--color-markdown-table-tr-border);
}*/
#Post-1 p,
#Post-3
  padding 0 3% 0 3%

#Post-3 p
  text-align justify
  text-indent 5%

#Post-1 h1, 
#Post-3 h1,
#Post-3 h2,
#Post-3 h3
  text-align center
  padding 0 8% 0 8%
